*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height:100vh ;
    background-image: url('./img/artem-sapegin-9hiTgUzS5dc-unsplash.jpg');
    background-size: cover;
}
.overlay{

    font-family: 'Roboto', sans-serif;;
    height:100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .15);

    /* here a is for the darkness */
    display: flex;
    flex-direction: column;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Trocchi&display=swap');

.title{
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.col{
    width: 1000px;
    height: 100px;
   
    margin: 10px auto;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

.col div{
   width: 250px;
   text-align: center;
   

}
input{
    width: 50%;
    height: 50px;
   background-color: white;
   border-color: transparent;
   text-align: center;
    font-size: 25px;
    
}